<div class="card">
    <h3 class="card-header">Edit Post</h3>
    <form class="card-body edit-post-form">
        <div class="mb-3">
            <label for="post-title" class="form-label">Title</label>
            <input name="post-title" type="text" value="{{post.title}}" class="form-input form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label" for="content">Content</label>
            <textarea name="content" type="text" value="{{post.content}}" class="form-input form-control" rows="3"></textarea>
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-info">Update Post</button>
            <button type="button" class="delete-post-btn btn btn-danger">Delete Post</button>
        </div>
    </form>
</div>


<script src="/javascript/edit-posts.js"></script>
<script src="/javascript/delete-posts.js"></script>