{{!-- <ol class="post-list">
  {{#each posts as |post| }}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol> --}}

  
<article class="post">

    {{#each posts as |post| }}
        {{> post-info post}}
    {{/each}}

</article>