<div class="card">
    <h5 class="card-header bg-info bg-gradient">Create New Post</h5>
    <form class="card-body new-post-form" id="new-post-form">
        <div class="mb-3">
            <label for="post-title" class="form-label card-text">Title</label>
            <input type="text" id="post-title" name="post-title" class="form-input form-control"/>
        </div>

        <div class="mb-3">
            <label class="form-label card-text" for="content">Content</label>
            <textarea id="content" name="content" class="form-input form-control" rows="3"></textarea>
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-info ">Create</button>
        </div>
    </form>
</div>

<script src="/javascript/add-post.js"></script>