<div class="card">
  <h3 class="card-header bg-gradient bg-info">Sign Up</h3>
  <form class="signup-form card-body">
      <div class="mb-3">
          <label for="username-signup" class="form-label">Username:</label>
          <input autofocus="true" type="text" class="form-control form-input" id="username-signup">
      </div>
      <div class="mb-3">
          <label for="password-signup" class="form-label">Password:</label>
          <input id="password-signup" type="password" autofocus="true" class="form-input form-control" />
      </div>
      <div class="d-grid gap-2">
        <button type="submit" type="button" class="btn btn-info">SIGN UP</button>
      </div>
      <a class="login-link" href="/login">Login instead!</a>
  </form>
</div>

<script src="/javascript/signup.js"></script>